.navbar {
  height: 50px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: darkslategray;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navbar a {
  text-align: center;
}

#nav {
  display: none;
}

#nav.open {
  height: 400px;
  display: inline-block;
}
