.title {
  font-size: 20px;
  text-align: center;
  color: #344e41;
  font-weight: 600;
  margin: 1rem;
}
.tabContainer {
  display: flex;
  width: 100%;
  border-bottom: #588157 solid 1px;
}
.tab {
  padding: 0.5rem 0.5rem 0;
  border-radius: 50% 50% 0 0;
  background-color: grey;
  color: #588157;
  border: grey solid 1px;
  border-bottom: none;
}
.tab.active {
  background-color: white;
  color: #344e41;
  border: black solid 1px;
  border-bottom: none;
}
.contentContainer {
  width: 100%;
  height: 100%;
}
